<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
</head>

<body>

	<section th:fragment="slide" class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" th:style="'background-image: url(' + @{/images/slide/slide-01.jpg} + ');'">
					<div class="mfp-wrap wrap-slick1-1">
						<div class="container">
							<div class="p-b-30 respon5  m-lr-auto">
								<div class="layer-slick1 font-weight-bold">
									<span class="mtext-111 clblack respon2">
										想去哪裡玩？
									</span>
								</div>
								<div class="layer-slick1">
									<h2 class="ltext-107 clblack p-t-15 p-b-25 respon1 font-weight-bold">
										立即安排下一趟完美旅程
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slick1" th:style="'background-image: url(' + @{/images/slide/slide-05.jpg} + ');'">
					<div class="mfp-wrap wrap-slick1-1">
						<div class="container">
							<div class="p-b-30 respon5  m-lr-auto">
								<div class="layer-slick1 font-weight-bold">
									<span class="mtext-111 clwhite respon2">
										想去哪裡玩？
									</span>
								</div>
								<div class="layer-slick1">
									<h2 class="ltext-107 clwhite p-t-15 p-b-25 respon1 font-weight-bold">
										立即安排下一趟完美旅程
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slick1" th:style="'background-image: url(' + @{/images/slide/slide-08.jpg} + ');'">
					<div class="mfp-wrap wrap-slick1-1">
						<div class="container">
							<div class="p-b-30 respon5  m-lr-auto">
								<div class="layer-slick1 font-weight-bold">
									<span class="mtext-111 clblack respon2">
										想去哪裡玩？
									</span>
								</div>
								<div class="layer-slick1">
									<h2 class="ltext-107 clblack p-t-15 p-b-25 respon1 font-weight-bold">
										立即安排下一趟完美旅程
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slick1" th:style="'background-image: url(' + @{/images/slide/slide-07.jpg} + ');'">
					<div class="mfp-wrap wrap-slick1-1">
						<div class="container">
							<div class="p-b-30 respon5  m-lr-auto">
								<div class="layer-slick1 font-weight-bold">
									<span class="mtext-111 clwhite respon2">
										想去哪裡玩？
									</span>
								</div>
								<div class="layer-slick1">
									<h2 class="ltext-107 clwhite p-t-15 p-b-25 respon1 font-weight-bold">
										立即安排下一趟完美旅程
									</h2>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="item-slick1" th:style="'background-image: url(' + @{/images/slide/slide-09.jpg} + ');'">
					<div class="mfp-wrap wrap-slick1-1">
						<div class="container">
							<div class="p-b-30 respon5   m-lr-auto">
								<div class="layer-slick1 font-weight-bold">
									<span class="mtext-111 clwhite respon2">
										想去哪裡玩？
									</span>
								</div>
								<div class="layer-slick1">
									<h2 class="ltext-107 clwhite p-t-15 p-b-25 respon1 font-weight-bold">
										立即安排下一趟完美旅程
									</h2>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="item-slick1" th:style="'background-image: url(' + @{/images/slide/slide-04.jpg} + ');'">
					<div class="mfp-wrap wrap-slick1-1">
						<div class="container">
							<div class="p-b-30 respon5  m-lr-auto">
								<div class="layer-slick1 font-weight-bold">
									<span class="mtext-111 clwhite respon2">
										想去哪裡玩？
									</span>
								</div>
								<div class="layer-slick1">
									<h2 class="ltext-107 clwhite p-t-15 p-b-25 respon1 font-weight-bold">
										立即安排下一趟完美旅程
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slick1" th:style="'background-image: url(' + @{/images/slide/slide-06.jpg} + ');'">
					<div class="mfp-wrap wrap-slick1-1">
						<div class="container">
							<div class="p-b-30 respon5  m-lr-auto">
								<div class="layer-slick1 font-weight-bold">
									<span class="mtext-111 clwhite respon2">
										想去哪裡玩？
									</span>
								</div>
								<div class="layer-slick1">
									<h2 class="ltext-107 clwhite p-t-15 p-b-25 respon1 font-weight-bold">
										立即安排下一趟完美旅程
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mfp-wrap wrap-slick1-1">
				<div class="container">
					<div class="respon5 m-lr-auto">
						<div class="panel-search w-50 p-b-15 p-t-120">
							<div class="bor30 dis-flex p-l-15 bgwhite">
								<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
									<i class="zmdi zmdi-search"></i>
								</button>
								<input class="mtext-110 cl2 size-114 plh2 p-r-15 bor30 " type="text"
									name="search-product" placeholder="輸入目的地、活動、餐廳...">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>
	
</body>
</html>