<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GoTrip後台管理</title>
<!-- 通用css樣式 plugins:css -->
<link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}" href="css/vertical-layout-light/style.css">
<link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" href="vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" href="vendors/feather/feather.css">
<link rel="shortcut icon" th:href="@{/images/favicon.png}" />
<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!-- 本頁面使用css樣式 Plugin css for this page -->
<link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}" href="vendors/datatables.net-bs4/select.dataTables.min.css">
<style type="text/css">
	.img-com {
		object-fit: cover;
		height: 70px;
	}
</style>
</head>

<body>
	<div class="container-scroller">

		<nav th:replace="backend/partials/fragment :: navbar"></nav>

		<div class="container-fluid page-body-wrapper">
			<div th:replace="backend/partials/fragment :: setting"></div>
			<nav th:replace="backend/partials/fragment :: sidebar"></nav>
			<!-- 主要內容 partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="d-flex justify-content-between align-baseline">
										<div class="card-title">車款列表</div>
										<a class="text-right btn btn-primary btn-sm my-2 font-weight-bold" th:href="@{/backend/cars/locations/form}" style="font-size: 15px">新增地點</a>
									</div>

									<div class="table-responsive">
										<table id="data-table" class="display expandable-table table-hover w-100" style="text-align: center">
											<thead>
												<tr>
													<th>ID</th>
													<th>公司</th>
													<th>租車據點</th>
													<th>縣市</th>
													<th>地區</th>
													<th>地址</th>
													<th>電話</th>
													<th>營業時間</th>
													<th>狀態</th>
													<th>車款數量</th>
													<th width="5%">修改</th>
												</tr>
											</thead>
											<tbody id="tbody">
												<tr th:each="location:${carLocations}" class="odd gradeX" >
													<td th:text="${location.id}"></td>
													<td th:text="${location.companyName}"></td>
													<td width="15%" >		
														<span th:text="${location.name}" ></span>													
<!-- 														<button class="btn btn-light js-show-modal1 px-0"> -->
															<i class="fa fa-info-circle" aria-hidden="true" style="color: orange;"></i>
<!-- 														</button> -->
													</td>
													<td th:text="${location.county}"></td>
													<td th:text="${location.district}"></td>
													<td th:text="${location.address}"></td>
													<td th:text="${location.phone}"></td>
													<td th:text="${#strings.substring(location.openTime,0,5) + ' ~ ' + #strings.substring(location.closeTime,0,5)}"></td>
													<td>
<!-- 														<form id="insert-loc-form" name="form" th:action="@{/vendor/cars/locations}" method="post"> -->
<!-- 															<select th:value="${location.status}" name="status" id="status" class="btn btn-success dropdown-toggle"> -->
<!-- 																<option value="顯示">顯示</option> -->
<!-- 																<option value="隱藏">隱藏</option> -->
<!-- 																<option value="停權">停權</option> -->
<!-- 															</select> -->
<!-- 														</form>	 -->
														<span th:text="${location.status}" class="btn btn-success btn-sm status px-2" style="font-size: 0.9rem"></span>
													</td>
													<td>
														<span> 車輛數</span>
														<span th:text="${#aggregates.sum(location.carOptions.![amount])}"></span><br>
														<span> 車款數</span>
														<span th:text="${location.carOptions.size()}"></span>
													</td>
													<td>
<!-- 														<div class="btn-group" role="group" aria-label="Basic example"> -->
<!-- 															<input name="locationImage" type="hidden" th:value="${location.image}"> -->

															<a th:href="@{/vendor/cars/locations/form/{id}(id=${location.id})}" class="btn btn-light px-2"> 
																<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
															</a>
															<form th:id="'deleteLocation' + ${location.id}" th:action="@{/vendor/cars/locations/}+${location.id}"
																th:method="delete" class="d-inline">
																<button type="button" th:value="${location.id}" class="btn btn-delete btn-light px-2">
																	<i class="fa fa-trash-o" aria-hidden="true"></i>
																</button>
															</form>
<!-- 														</div> -->
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="backend/partials/fragment :: footer"></footer>
				<!-- partial -->
			</div>
		</div>
	</div>

	<script th:src="@{/vendors/js/vendor.bundle.base.js}" src="vendors/js/vendor.bundle.base.js"></script>
	<script th:src="@{/js/off-canvas.js}" src="vendors/js/off-canvas.js"></script>
	<script th:src="@{/js/hoverable-collapse.js}" src="js/hoverable-collapse.js"></script>
	<script th:src="@{/js/template.js}" src="js/template.js"></script>
	<script th:src="@{/js/settings.js}" src="js/settings.js"></script>
	<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}" src="vendors/datatables.net/jquery.dataTables.js"></script>
	<script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}" src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
	<script th:src="@{/js/dataTables.select.min.js}" src="js/dataTables.select.min.js"></script>
	<script th:src="@{/js/dashboard-comment.js}" src="js/dashboard-comment.js"></script>
	<script th:src="@{/vendors/sweetalert/sweetalert2.all.min.js}" src="vendors/sweetalert/sweetalert2.all.min.js"></script>
	<script>
	  $(document).ready(function() {
		    $('#data-table').DataTable({
    
	  		})
	  		
	  		$('.status').map(function() {
	  			if ($(this).text() == '隱藏') {
		  			$(this).removeClass('btn-success').addClass('btn-warning')
	  			} else if ($(this).text() == '停權') {
		  			$(this).removeClass('btn-success').addClass('btn-danger')
	  			}
	  		})
		});
	  
		$('#data-table tbody').on('click', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        })
	  
	  $(".btn-delete").click(function(e){
			e.preventDefault(); // 取消原始動作
			let id = $(this).val();
	 			Swal.fire({
	 				icon: 'warning',
	 				title: '確定刪除?',
	 				text: "確認刪除後將不可復原",
	 				showCancelButton: true,
	 				confirmButtonColor: '#FF8D29',
	 				cancelButtonColor: '#FFCD38',
	 				confirmButtonText: '確認',
	 				cancelButtonText: '取消',
	 				reverseButtons: true
	 			}).then((result) => {
	 				if (result.isConfirmed) {
	 					$(this).parent().submit();
	 				}
	 			})
			})
  </script>
</body>

</html>