<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GoTrip後台管理</title>
<!-- 通用css樣式 plugins:css -->
<link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}" href="css/vertical-layout-light/style.css">
<link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" href="vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" href="vendors/feather/feather.css">
<link rel="shortcut icon" th:href="@{/images/favicon.png}" />
<!-- 本頁面使用css樣式 Plugin css for this page -->
<link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}" href="vendors/datatables.net-bs4/select.dataTables.min.css">
<style type="text/css">
	.img-com {
		object-fit: cover;
		height: 70px;
	}
</style>
</head>

<body>
	<div class="container-scroller">

		<nav th:replace="backend/partials/fragment :: navbar"></nav>

		<div class="container-fluid page-body-wrapper">
			<div th:replace="backend/partials/fragment :: setting"></div>
			<nav th:replace="backend/partials/fragment :: sidebar"></nav>
			<!-- 主要內容 partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="d-flex justify-content-between align-baseline">
										<div class="card-title">車款列表</div>
										<a class="text-right btn btn-primary my-2" th:href="@{/backend/cars/locations/form}">新增車款</a>
									</div>

									<div class="table-responsive">
										<table id="data-table" class="display expandable-table table-hover w-100" style="text-align: center">
											<!--                       <colgroup> -->
											<!--                         <col span="1" style="width: 5%;"> -->
											<!--                         <col span="1" style="width: 8%;"> -->
											<!--                         <col span="1" style="width: 5%;"> -->
											<!--                         <col span="1" style="width: 8%;"> -->
											<!--                         <col span="1" style="width: 8%;"> -->
											<!--                         <col span="1" style="width: 5%;"> -->
											<!--                         <col span="1" style="width: 20%;"> -->
											<!--                         <col span="1" style="width: 20%;"> -->
											<!--                         <col span="1" style="width: 10%;"> -->
											<!--                         <col span="1" style="width: 11%;"> -->
											<!--                       </colgroup> -->
											<thead>
												<tr>
													<th>公司</th>
													<th>租車據點</th>
													<th>縣市</th>
													<th>地區</th>
													<th>地址</th>
													<th>電話</th>
													<th>營業時間</th>
													<th>車款數量</th>
													<th>修改</th>
												</tr>
											</thead>
											<tbody id="tbody">
												<tr th:each="location:${carLocations}" class="odd gradeX">
													<td th:text="${location.companyId}"></td>
													<td th:text="${location.name}"></td>
													<td th:text="${location.county}"></td>
													<td th:text="${location.district}"></td>
													<td th:text="${location.address}"></td>
													<td th:text="${location.phone}"></td>
													<td th:text="${#strings.substring(location.openTime,0,5) + ' ~ ' + #strings.substring(location.closeTime,0,5)}"></td>
													<td th:text="${location.carOptions.size()}"></td>
													<td>
														<form th:action="@{/cars/locations/form/}+${location.id}" method="get" class="inline-block">
<!-- 															<button type="submit" class="px-2  btn btn-warning btn-rounded btn-sm"> -->
<!-- 																修改 -->
<!-- 															</button> -->
<!-- 														</form> -->
<!-- 														<form th:id="'deleteLocation' + ${location.id}" th:action="@{/backend/cars/locations/}+${location.id}" -->
<!-- 															th:method="delete" class="inline-block"> -->
<!-- 															<button type="button" th:value="${location.id}" class="px-2 btn btn-delete btn-info btn-rounded btn-sm"> -->
<!-- 																刪除 -->
<!-- 															</button> -->
														</form>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="backend/partials/fragment :: footer"></footer>
				<!-- partial -->
			</div>
		</div>
	</div>

	<script th:src="@{/vendors/js/vendor.bundle.base.js}" src="vendors/js/vendor.bundle.base.js"></script>
	<script th:src="@{/js/off-canvas.js}" src="vendors/js/off-canvas.js"></script>
	<script th:src="@{/js/hoverable-collapse.js}" src="js/hoverable-collapse.js"></script>
	<script th:src="@{/js/template.js}" src="js/template.js"></script>
	<script th:src="@{/js/settings.js}" src="js/settings.js"></script>
	<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}" src="vendors/datatables.net/jquery.dataTables.js"></script>
	<script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}" src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
	<script th:src="@{/js/dataTables.select.min.js}" src="js/dataTables.select.min.js"></script>
	<script th:src="@{/js/dashboard-comment.js}" src="js/dashboard-comment.js"></script>
	<script th:src="@{/vendors/sweetalert/sweetalert2.all.min.js}" src="vendors/sweetalert/sweetalert2.all.min.js"></script>
	<script>
	  $(document).ready(function() {
		    $('#data-table').DataTable({
    
	  		})
		});
	  
		$('#data-table tbody').on('click', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        })
	  
	  $(".btn-delete").click(function(e){
			e.preventDefault(); // 取消原始動作
			let id = $(this).val();
	 			Swal.fire({
	 				icon: 'warning',
	 				title: '確定刪除?',
	 				text: "確認刪除後將不可復原",
	 				showCancelButton: true,
	 				confirmButtonColor: '#FF8D29',
	 				cancelButtonColor: '#FFCD38',
	 				confirmButtonText: '確認',
	 				cancelButtonText: '取消',
	 				reverseButtons: true
	 			}).then((result) => {
	 				if (result.isConfirmed) {
	 					$(this).parent().submit();
	 				}
	 			})
			})
  </script>
</body>

</html>