<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GoTrip 後臺系統</title>
  <!-- 本頁面使用css樣式 Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}" href="vendors/datatables.net-bs4/select.dataTables.min.css">
  <!-- 通用css樣式 plugins:css -->
  <link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}" href="css/vertical-layout-light/style.css" >
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" href="vendors/feather/feather.css" >
  <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
  
    <nav th:replace="partials/fragment :: navbar"></nav>
    
    <div class="container-fluid page-body-wrapper">
    
	  <div th:replace="partials/fragment :: setting"></div>
      <nav th:replace="partials/fragment :: sidebar"></nav>
      
      <!-- 主要內容 partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">評論列表</div>
                  <div class="table-responsive">
                    <div class="container col-md-5">
                      <div class="card">
                        <div class="card-body">

                          <caption>
                            <h2>Hotel New

                            </h2>
                          </caption>


<!--                          <form  modelAttribute="hotel" method="POST"  enctype="multipart/form-data">-->
                            <form action="hotelAdd" method="POST" enctype="multipart/form-data">


                            <fieldset class="form-group">
                              <form path="hotel_name">飯店名稱</form>
                              <form path="hotel_name" placeholder="" maxlength="50" class="form-control"/>
                            </fieldset>

                            <fieldset class="form-group">
                              <form path="price">價格</form>
                              <form path="price"  placeholder="" maxlength="50" class="form-control" onkeypress="return my_key(event)" />
                            </fieldset>



                            <fieldset class="form-group">
                              <form path="boss_name">業主名稱</form>
                              <form path="boss_name" placeholder="" maxlength="50" class="form-control"/>
                            </fieldset>

                            <fieldset class="form-group">
                              <form:label path="phone">電話</form:label>
                              <form:input path="phone" placeholder="" maxlength="50" class="form-control" onkeypress="return my_key(event)"/>
                            </fieldset>

                            <fieldset class="form-group">
                              <form:label path="productImage">照片</form:label>
                              <form:input path="productImage" type='file'/>
                            </fieldset>

                            <td>狀態</td>
                            <fieldset class="form-group">

                              <form:select path="status" class="form-select" aria-label="Default select example">
                                <form:option value="營業中">營業中</form:option>
                                <form:option value="未營業">未業中</form:option>

                              </form:select>
                            </fieldset>
                            <!-- -------------------------------------------------------------以下修改 -->



                            <td>房型</td>
                            <fieldset class="form-group">

                              <form:select path="roomtype" class="form-select" aria-label="Default select example" >
                                <form:option value="營業中">單人房</form:option>
                                <form:option value="未營業">雙人房</form:option>

                              </form:select>
                            </fieldset>
                            <!-- -------------------------------------------------------------以下修改 -->
                            <button type="submit" class="btn btn-success">Save</button>

                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer th:replace="partials/fragment :: footer"></footer>
        <!-- partial -->
      </div>
    </div>
  </div>

  <script th:src="@{/vendors/js/vendor.bundle.base.js}" src="vendors/js/vendor.bundle.base.js"></script>
  <script th:src="@{/js/off-canvas.js}" src="vendors/js/off-canvas.js"></script>
  <script th:src="@{/js/hoverable-collapse.js}" src="js/hoverable-collapse.js"></script>
  <script th:src="@{/js/template.js}" src="js/template.js"></script>
  <script th:src="@{/js/settings.js}" src="js/settings.js"></script>
  
  <script th:src="@{/vendors/datatables.net/jquery.dataTables.js}" src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}" src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script th:src="@{/js/dataTables.select.min.js}" src="js/dataTables.select.min.js"></script>
  <script th:src="@{/js/dashboard-comment.js}" src="js/dashboard-comment.js"></script>
	<script>
		(function ($) {
		$(document).ready( function () {
		    $('#comment-table').DataTable();
		} );
	})(jQuery);
	</script>
</body>

</html>