<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoTrip 後臺系統</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://demeter.5fpro.com/tw/zipcode-selector.js"></script>
    <!-- 本頁面使用css樣式 Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}"
          href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}"
          href="vendors/datatables.net-bs4/select.dataTables.min.css">
    <!-- 通用css樣式 plugins:css -->
    <link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}" href="css/vertical-layout-light/style.css">
    <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}"
          href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" href="vendors/feather/feather.css">
    <link rel="shortcut icon" href="images/favicon.png"/>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container-scroller">

    <nav th:replace="/backend/partials/fragment :: navbar"></nav>

    <div class="container-fluid page-body-wrapper">

        <div th:replace="/backend/partials/fragment :: setting"></div>
        <nav th:replace="/backend/partials/fragment :: sidebar"></nav>

        <!-- 主要內容 partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <a th:href="backHotel">
                                    <div class="card-title">回列表</div>
                                </a>

                                <div class="table-responsive">
                                    <div class="container col-md-5">
                                        <div class="card">
                                            <div class="card-body">

                                                <caption>
                                                    <h2>Hotel New

                                                    </h2>
                                                </caption>

                                                <form method="post" th:action="@{/addHotel}" th:object="${hotel}"
                                                      enctype="multipart/form-data">

                                                    <td>住宿類型</td>
                                                    <fieldset class="form-group">
                                                        <select th:field="*{hotelStyle}" class="form-select"
                                                                aria-label="Default select example">
                                                            <option value="公寓">公寓</option>
                                                            <option value="整間小屋">整間小屋</option>
                                                            <option value="整棟住宅">整棟住宅</option>
                                                            <option value="別墅">別墅</option>
                                                            <option value="專業大飯店">專業大飯店</option>
                                                        </select>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>住宿面積大小</label>
                                                        <input type="text" th:field="*{hotelArea}" id="hotelArea"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>可住人數</label>
                                                        <input type="text" th:field="*{peopleCount}" id="peopleCount"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>衛浴數量</label>
                                                        <input type="text" th:field="*{bathCount}" id="bathCount"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>
                                                    <fieldset class="form-group">
                                                        <label>臥室數量</label>
                                                        <input type="text" th:field="*{bedroomCount}" id="bedroomCount"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>
                                                    <fieldset class="form-group">
                                                        <label>床的數量</label>
                                                        <input type="text" th:field="*{bedCount}" id="bedCount"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>國家</label>
                                                        <input type="text" th:field="*{notional}" id="notional"
                                                               class="form-control"/>
                                                    </fieldset>

                                                    <p class="card-description mt-4">
                                                        聯絡地址
                                                    </p>


                                                    <input type="hidden" class="js-demeter-tw-zipcode-selector"
                                                           data-city="#city" data-dist="#location" placeholder="郵遞區號"
                                                           size="6" id="yoyo" name="yoyo" readonly/>
                                                    <select id="city" name="city" placeholder="請選擇縣市"
                                                            onchange="addressChange()" class="form-control"></select>
                                                    <select id="location" name="location" placeholder="請選擇鄉鎮區"
                                                            onchange="addressChange()" class="form-control"></select>

                                                    <input type="text" name="fullAddress" id="fullAddress"
                                                           class="form-control"/>
                                                    <!--                            //縣市鄉鎮自動帶入此地址欄位-->

                                                    <fieldset class="form-group">
                                                        <label>住宿規定</label>
                                                        <textarea th:field="*{hotelRule}" id="hotelRule"
                                                                  class="form-control"> </textarea>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>房客該如何前往妳的住宿</label>
                                                        <textarea th:field="*{Howgoto}" id="Howgoto"
                                                                  class="form-control"> </textarea>
                                                    </fieldset>


                                                    <fieldset class="form-group">
                                                        <label>飯店名稱</label>
                                                        <input type="text" th:field="*{hotel_name}" id="name"
                                                               class="form-control"/>
                                                    </fieldset>
                                                    <fieldset class="form-group">
                                                        <label>介紹一下你的地方</label>
                                                        <textarea th:field="*{introduce}" id="introduce"
                                                                  class="form-control"> </textarea>
                                                    </fieldset>

                                                    <label>您住宿的特色1</label>
                                                    <select class="form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example" th:field="*{feature1}">
                                                        <option th:value="'附屬健身房'" th:text="附屬健身房"></option>
                                                        <option th:value="'附屬spa'" th:text="附屬spa"></option>
                                                        <option th:value="'附屬美容室'" th:text="附屬美容室"></option>
                                                    </select>
                                                    <label>您住宿的特色2</label>
                                                    <select class="form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example" th:field="*{feature2}">
                                                        <option th:value="'提供機場接送服務'" th:text="提供機場接送服務"></option>
                                                        <option th:value="'提供超跑特別租借'" th:text="提供超跑特別租借"></option>
                                                        <option th:value="'提供3c高級筆電'" th:text="提供3c高級筆電"></option>
                                                    </select>
                                                    <label>您住宿的特色3</label>
                                                    <select class="form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example" th:field="*{feature3}">
                                                        <option th:value="'提供BBQ餐點'" th:text="提供BBQ餐點"></option>
                                                        <option th:value="'提供美式餐點'" th:text="提供美式餐點"></option>
                                                        <option th:value="'提供中式餐點'" th:text="提供中式餐點"></option>
                                                    </select>


                                                    <fieldset class="form-group">
                                                        <label>你提供什麼設施呢?</label><br>
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="浴巾"/>浴巾
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="空調"/>空調
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="陽台或露台"/>陽台或露台
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="書桌"/>書桌
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="免鑰匙進出"/>免鑰匙進出
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="濱海"/>濱海
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="免費停車"/>免費停車
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="免費wifi"/>免費wifi
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="暖風"/>暖風
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="廚房用具(廚具`油`調味料)"/>廚房用具(廚具`油`調味料)
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="專用入口"/>專用入口
                                                        <input type="checkbox" th:field="*{provide}" id="provide"
                                                               value="電視"/>電視

                                                    </fieldset>


                                                    <fieldset class="form-group">
                                                        <label>價格</label>
                                                        <input type="text" th:field="*{price}" id="name"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>業主名稱</label>
                                                        <input type="text" th:field="*{boss_name}" id="name"
                                                               class="form-control"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>電話</label>
                                                        <input type="text" th:field="*{phone}" id="name"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>照片</label>
                                                        <input th:field="*{productImage}" name="fileName" id="filename"
                                                               type='file' accept="image/png, image/jpeg, image/jpg"
                                                               multiple="multiple"/>
                                                        <input type="button" id="submitBtn" onclick="checkSubmit()"
                                                               value="上传"/>
                                                    </fieldset>

                                                    <td>狀態</td>
                                                    <fieldset class="form-group">
                                                        <select th:field="*{status}" class="form-select"
                                                                aria-label="Default select example">
                                                            <option value="營業中">營業中</option>
                                                            <option value="未營業">未業中</option>
                                                        </select>
                                                    </fieldset>
                                                    <!-- -------------------------------------------------------------以下修改 -->


                                                    <td>房型</td>
                                                    <fieldset class="form-group">
                                                        <select th:field="*{roomtype}" class="form-select"
                                                                aria-label="Default select example">
                                                            <option value="單人房">單人房</option>
                                                            <option value="雙人房">雙人房</option>
                                                            <option value="四人房">四人房</option>
                                                        </select>
                                                    </fieldset>
                                                    <!-- -------------------------------------------------------------以下修改 -->
                                                    <button type="submit" class="btn btn-success">Save</button>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="backend/partials/fragment :: footer"></footer>
            <!-- partial -->
        </div>
    </div>
</div>

<script th:src="@{/vendors/js/vendor.bundle.base.js}" src="vendors/js/vendor.bundle.base.js"></script>
<script th:src="@{/js/off-canvas.js}" src="vendors/js/off-canvas.js"></script>
<script th:src="@{/js/hoverable-collapse.js}" src="js/hoverable-collapse.js"></script>
<script th:src="@{/js/template.js}" src="js/template.js"></script>
<script th:src="@{/js/settings.js}" src="js/settings.js"></script>

<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}"
        src="vendors/datatables.net/jquery.dataTables.js"></script>
<script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"
        src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script th:src="@{/js/dataTables.select.min.js}" src="js/dataTables.select.min.js"></script>
<script th:src="@{/js/dashboard-comment.js}" src="js/dashboard-comment.js"></script>
<script th:src="@{/vendors/sweetalert/sweetalert2.all.min.js}" src="vendors/sweetalert/sweetalert2.all.min.js"></script>
<script>
    (function ($) {
        $(document).ready(function () {
            $('#comment-table').DataTable();
        });
    })(jQuery);

    function my_key(e) {
        var key;
        if (window.event) {
            key = e.keyCode;
        } else if (e.which) {
            key = e.which;
        } else {
            return true;
        }
        if (8 == key || 46 == key) {//8:backspace 46:delete (倒退鍵和刪除鍵也允許作用)
            return true;
        }
        var keychar = String.fromCharCode(key);
        var reg = /\d/;
        return reg.test(keychar);
    }

</script>


<!-- 立即顯示縣市鄉鎮 -->
<script type="text/javascript">
    function addressChange() {
        var city = document.getElementById('city').value;
        var location = document.getElementById('location').value;
        document.getElementById('fullAddress').value = city + location;
    }


</script>

</body>

</html>