<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoTrip 後臺系統</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://demeter.5fpro.com/tw/zipcode-selector.js"></script>
    <!-- 本頁面使用css樣式 Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}"
          href="../../../static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}"
          href="vendors/datatables.net-bs4/select.dataTables.min.css">
    <!-- 通用css樣式 plugins:css -->
    <link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}"
          href="../../../static/css/vertical-layout-light/style.css">
    <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}"
          href="../../../static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" href="../../../static/vendors/feather/feather.css">
    <link rel="shortcut icon" href="../../../static/images/favicon.png"/>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container-scroller">

    <nav th:replace="/backend/partials/fragment :: navbar"></nav>

    <div class="container-fluid page-body-wrapper">

        <div th:replace="/backend/partials/fragment :: setting"></div>
        <nav th:replace="/backend/partials/fragment :: sidebar"></nav>

        <!-- 主要內容 partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <a th:href="backHotel">
                                    <div class="card-title">回列表</div>
                                </a>

                                <div class="table-responsive">
                                    <div class="container col-md-5">
                                        <div class="card">
                                            <div class="card-body">

                                                <caption>
                                                    <h2>Hotel Edit

                                                    </h2>
                                                </caption>

                                                <form method="post" th:action="@{/addHotel}" th:object="${hotel}"
                                                      enctype="multipart/form-data">
                                                    <h3>填寫您住宿資料</h3>
                                                    <fieldset class="form-group">
                                                        <input type="text" th:field="*{id}" id="id"
                                                               class="form-control" readonly/>
                                                    </fieldset>
                                                    <hr>
                                                    <td>您住宿類型</td>
                                                    <fieldset class="form-group">
                                                        <select th:field="*{hotelStyle}" class="form-select"
                                                                aria-label="Default select example">
                                                            <option value="公寓">公寓</option>
                                                            <option value="整間小屋">整間小屋</option>
                                                            <option value="整棟住宅">整棟住宅</option>
                                                            <option value="別墅">別墅</option>
                                                            <option value="專業大飯店">專業大飯店</option>
                                                        </select>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>飯店名稱</label>
                                                        <input type="text" th:field="*{hotel_name}" id="name"
                                                               class="form-control"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>介紹一下你的地方</label>
                                                        <textarea th:field="*{introduce}" id="introduce"
                                                                  class="form-control"> </textarea>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>國家</label>
                                                        <input type="text" th:field="*{notional}" id="notional"
                                                               class="form-control"/>
                                                    </fieldset>

                                                    <p class="card-description mt-4">
                                                        聯絡地址
                                                    </p>
                                                    <input type="hidden" class="js-demeter-tw-zipcode-selector"
                                                           data-city="#city" data-dist="#location" placeholder="郵遞區號"
                                                           size="6" id="yoyo" name="yoyo" readonly/>
                                                    <select id="city" name="city" placeholder="請選擇縣市"
                                                            onchange="addressChange()" class="form-control"></select>
                                                    <select id="location" name="location" placeholder="請選擇鄉鎮區"
                                                            onchange="addressChange()" class="form-control"></select>

                                                    <input type="text" name="fullAddress" id="fullAddress"
                                                           class="form-control"/>
                                                    <!--                            //縣市鄉鎮自動帶入此地址欄位-->

                                                    <fieldset class="form-group">
                                                        <label>房客該如何前往妳的住宿</label>
                                                        <textarea th:field="*{Howgoto}" id="Howgoto"
                                                                  class="form-control"> </textarea>
                                                    </fieldset>

                                                    <td>狀態</td>
                                                    <fieldset class="form-group">
                                                        <select th:field="*{status}" class="form-select"
                                                                aria-label="Default select example">
                                                            <option value="營業中">營業中</option>
                                                            <option value="未營業">未業中</option>
                                                        </select>
                                                    </fieldset>
                                                    <h3>填寫您房間資料</h3>

                                                    <hr>

                                                    <label>您住宿的特色1</label>
                                                    <select class="form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example" th:field="*{feature1}">
                                                        <option th:value="'附屬健身房'" th:text="附屬健身房"></option>
                                                        <option th:value="'附屬spa'" th:text="附屬spa"></option>
                                                        <option th:value="'附屬美容室'" th:text="附屬美容室"></option>
                                                    </select>
                                                    <label>您住宿的特色2</label>
                                                    <select class="form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example" th:field="*{feature2}">
                                                        <option th:value="'提供機場接送服務'" th:text="提供機場接送服務"></option>
                                                        <option th:value="'提供超跑特別租借'" th:text="提供超跑特別租借"></option>
                                                        <option th:value="'提供3c高級筆電'" th:text="提供3c高級筆電"></option>
                                                    </select>
                                                    <label>您住宿的特色3</label>
                                                    <select class="form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example" th:field="*{feature3}">
                                                        <option th:value="'提供BBQ餐點'" th:text="提供BBQ餐點"></option>
                                                        <option th:value="'提供美式餐點'" th:text="提供美式餐點"></option>
                                                        <option th:value="'提供中式餐點'" th:text="提供中式餐點"></option>
                                                    </select>


                                                    <fieldset class="form-group">
                                                        <label>您建築評數大小</label>
                                                        <input type="text" th:field="*{hotelArea}" id="hotelArea"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>最高容納人數</label>
                                                        <input type="text" th:field="*{peopleCount}" id="peopleCount"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>


                                                    <fieldset class="form-group">
                                                        <label>業主名稱</label>
                                                        <input type="text" th:field="*{boss_name}" id="name"
                                                               class="form-control"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>電話</label>
                                                        <input type="text" th:field="*{phone}" id="name"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label>平均價位</label>
                                                        <input type="text" th:field="*{price}" id="price"
                                                               class="form-control" onkeypress="return my_key(event)"/>
                                                    </fieldset>


                                                    <!-- HTML part -->
                                                    <label>照片</label>
                                                    <input type="file" name="imagefile" id="progressbarTWInput"
                                                           accept="image/gif, image/jpeg, image/png" multiple>
                                                    <div id="preview_progressbarTW_imgs"
                                                         style="width:100%; height: 300px; overflow:scroll;">
                                                        <p>目前沒有圖片</p>
                                                    </div>


                                                    <!-- -------------------------------------------------------------以下修改 -->
                                                    <button type="submit" class="btn btn-success">Save</button>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="backend/partials/fragment :: footer"></footer>
            <!-- partial -->
        </div>
    </div>
</div>

<script th:src="@{/vendors/js/vendor.bundle.base.js}" src="../../../static/vendors/js/vendor.bundle.base.js"></script>
<script th:src="@{/js/off-canvas.js}" src="vendors/js/off-canvas.js"></script>
<script th:src="@{/js/hoverable-collapse.js}" src="../../../static/js/hoverable-collapse.js"></script>
<script th:src="@{/js/template.js}" src="../../../static/js/template.js"></script>
<script th:src="@{/js/settings.js}" src="../../../static/js/settings.js"></script>

<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}"
        src="../../../static/vendors/datatables.net/jquery.dataTables.js"></script>
<script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"
        src="../../../static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script th:src="@{/js/dataTables.select.min.js}" src="../../../static/js/dataTables.select.min.js"></script>
<script th:src="@{/js/dashboard-comment.js}" src="../../../static/js/dashboard-comment.js"></script>
<script th:src="@{/vendors/sweetalert/sweetalert2.all.min.js}"
        src="../../../static/vendors/sweetalert/sweetalert2.all.min.js"></script>
<script>
    (function ($) {
        $(document).ready(function () {
            $('#comment-table').DataTable();
        });
    })(jQuery);

    function my_key(e) {
        var key;
        if (window.event) {
            key = e.keyCode;
        } else if (e.which) {
            key = e.which;
        } else {
            return true;
        }
        if (8 == key || 46 == key) {//8:backspace 46:delete (倒退鍵和刪除鍵也允許作用)
            return true;
        }
        var keychar = String.fromCharCode(key);
        var reg = /\d/;
        return reg.test(keychar);
    }

</script>


<!-- 立即顯示縣市鄉鎮 -->
<script type="text/javascript">
    function addressChange() {
        var city = document.getElementById('city').value;
        var location = document.getElementById('location').value;
        document.getElementById('fullAddress').value = city + location;
    }


</script>
<!-- JavaScript part -->
<script>
    $("#progressbarTWInput").change(function () {
        $("#preview_progressbarTW_imgs").html(""); // 清除預覽
        readURL(this);
    });

    function readURL(input) {
        if (input.files && input.files.length >= 0) {
            for (var i = 0; i < input.files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = $("<img width='300' height='200'>").attr('src', e.target.result);
                    $("#preview_progressbarTW_imgs").append(img);
                }
                reader.readAsDataURL(input.files[i]);
            }
        } else {
            var noPictures = $("<p>目前沒有圖片</p>");
            $("#preview_progressbarTW_imgs").append(noPictures);
        }
    }
</script>

</body>

</html>