<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://demeter.5fpro.com/tw/zipcode-selector.js"></script>
<head th:replace="frontend/partials/fragment :: head"></head>

<body class="">
	<!-- Header -->
	<header th:replace="frontend/partials/fragment :: header"></header>
	<!-- Cart 購物車 -->
	<div th:replace="frontend/partials/fragment :: cart"></div>

	<section class="bg-img1 txt-center p-lr-15 p-tb-92"	th:style="'background-image: url(' + @{/images/bg-03.jpg} + ');'">
		<h2 class="ltext-103 font-weight-bold clwhite txt-center">會員中心</h2>
	</section>
	<!-- Product 內文 -->
	<div class="bg0">
		<div class="container">
			<div class="row">
				<div class="col-md-3 p-b-80 bg6">
					<div class="side-menu">
						<div class="p-t-55">
							<h2 class="ltext-103 cl5 font-weight-bold m-b-30 p-lr-20">會員中心</h2>
							<ul class="p-lr-20">
								<li class="bor18">
									<a th:href="@{/userdetails}" class="dis-block mtext-110 cl5 hov-cl1 trans-04 p-tb-12 ">
										基本資料
									</a>
								</li>
								<li class="bor18">
									<a th:href="@{/vendor/cars/locations}" class="dis-block mtext-110 cl5 hov-cl1 trans-04 p-tb-12 ">
										我的訂單
									</a>
								</li>
								<li class="bor18">
									<a th:href="@{/vendor/cars/locations/form}" class="dis-block mtext-110 cl5 hov-cl1 trans-04 p-tb-12 ">
										我的優惠券
									</a>
								</li>
								<li class="bor18">
									<a th:href="@{/vendor/cars/options/form}" class="dis-block mtext-110 cl5 hov-cl1 trans-04 p-tb-12 ">
										帳號安全
									</a>
								</li>
								<li class="bor18" sec:authorize="hasRole('USER')">
									<a th:href="@{/become_dealer}" class="dis-block mtext-110 cl5 hov-cl1 trans-04 p-tb-12 ">
										成為店家
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Block2 -->
				<div class="col-md-9 grid-margin my-5 pl-5">
					<div class="card">
					
						<div class="card-body">
						
							<h4 class="card-title">輸入店家資料</h4>
                  <form class="form-sample" th:action="@{/become_dealer}" method="post" id="form" th:object="${user}">
                    <input type="hidden" th:field="*{user_id}" />
<!--                     <p class="card-description mt-5"> -->
<!--                       基本資料 -->
<!--                     </p> -->
                    <div class="row mt-4">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="ch_name">店家名稱*</label>
                          <div class="col-sm-9">
                            <input id="ch_name" type="text" class="form-control" name="dealer_name" required/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="en_name">負責人*</label>
                          <div class="col-sm-9">
                            <input id="en_name" type="text" class="form-control" name="ch_name" th:field="*{ch_name}" required/>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row mt-4">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="ch_name">統編</label>
                          <div class="col-sm-9">
                            <input id="ch_name" type="text" class="form-control" name="tax_id"/>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="phone">連絡電話*</label>
                          <div class="col-sm-9">
                            <input id="phone" type="text" class="form-control" name="phone" maxlength="10" th:field="*{phone}" required>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <input type="hidden" name="username" th:field="*{username}"/>
                    <input type="hidden" name="password" th:field="*{password}"/>
                    <input type="hidden" name="authority" value="ROLE_DEALER"/>
                    <input type="hidden" name="enabled" value="1"/>

                
<!--                     <p class="card-description mt-4"> -->
<!--                       聯絡地址 -->
<!--                     </p> -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">縣市</label>
                          <div class="col-sm-9">
                          <input type="hidden" class="js-demeter-tw-zipcode-selector" data-city="#city" data-dist="#location" placeholder="郵遞區號" 
									size="6" id="yoyo" name="yoyo" readonly/> 
                            <select id="city" name="city" placeholder="請選擇縣市" onchange="addressChange()" class="form-control"></select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">鄉鎮市區</label>
                          <div class="col-sm-9">
                            <select id="location" name="location" placeholder="請選擇鄉鎮區" onchange="addressChange()" class="form-control"></select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-1 col-form-label mr-5">地址</label>
                          <div class="col-sm-10" style="width: 110%;">
                            <input type="text" name="address" id="address" class="form-control" th:field="*{address}"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-sm-inline-block" style="float:left;">
<!--                     <button type="submit" class="btn btn-warning rounded-pill justify-content-end">新增會員</button> -->
<!--                     <button class="btn btn-light justify-content-end">取消新增</button> -->
                    
	                 <input type="submit" id="submit" name="submit" value="儲存" class="btn btn-warning rounded-pill my-5" style="width:150px">
<!-- 					 <label><a th:href="@{/user/list}" class="btn btn-light justify-content-end" style="width:160px">取消</a></label> -->
					</div>
               </form>
						</div>
					</div>
				</div>
			</div>
		</div>


	<!-- Footer -->
	<footer th:replace="frontend/partials/fragment :: footer"></footer>
	<!-- Back to top -->
	<div th:replace="frontend/partials/fragment :: toTop"></div>
	<!-- Modal1 -->
	<div th:replace="frontend/partials/fragment :: modal1"></div>
	<!-- javascript -->
	<div th:replace="frontend/partials/fragment :: script"></div>
	
	<script th:src="@{/js/tw-city-selector.min.js}"></script>
	<script>
		
		$('#btn-addModel').on('click', function() {
			
		})
		
		$(".btn-insert-opts").click(function(e){
			e.preventDefault();
			Swal.fire({
				icon: 'success',
				title: '儲存成功',
				text: "即將為您導回地點列表",
				showConfirmButton: false,
				timer: 1500
			});

			setInterval(function() {
				$('#insert-opt-form').submit()
			}, 1500);
		})
		
		$('.discount').on('blur', function () {
			console.log('hi')
			let price = $(this).prev('.price').val()
			let discount = $(this).val()
			$(this).next('.priceSale').val(price*discount)
		})
		
		
		// 立即顯示縣市鄉鎮
	function addressChange() {
        var city = document.getElementById('city').value;
        var location = document.getElementById('location').value;
        document.getElementById('address').value = city + location;
    }
		
	
	</script>

</body>

</html>