<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GoTrip後台管理</title>
<!-- 通用css樣式 plugins:css -->
<link rel="stylesheet" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" href="vendors/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}" href="css/vertical-layout-light/style.css">
<link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" href="vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" href="vendors/feather/feather.css">
<link rel="shortcut icon" th:href="@{/images/favicon.png}" />
<!-- 本頁面使用css樣式 Plugin css for this page -->
<link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}" href="vendors/datatables.net-bs4/select.dataTables.min.css">
<style type="text/css">
.img-com {
	object-fit: cover;
	width: 70px;
	height: 70px;
}
</style>
</head>

<body>
	<div class="container-scroller">

		<nav th:replace="backend/partials/fragment :: navbar"></nav>

		<div class="container-fluid page-body-wrapper">
			<div th:replace="backend/partials/fragment :: setting"></div>
			<nav th:replace="backend/partials/fragment :: sidebar"></nav>
			<!-- 主要內容 partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="d-flex justify-content-between align-baseline">
										<div class="card-title">評論列表</div>
										<a class="text-right btn btn-primary btn-sm my-2 font-weight-bold" th:href="@{/backend/comments/form}">新增評論</a>
									</div>
									<div class="table-responsive">
										<table id="comment-table" class="display expandable-table table-hover w-100">
											<colgroup>
												<col span="1" style="width: 5%;" class="font-weight-bold">
												<col span="1" style="width: 12%;" class="font-weight-bold">
												<col span="1" style="width: 8%;">
												<col span="1" style="width: 10%;">
												<col span="1" style="width: 5%;">
												<col span="1" style="width: 22%;">
												<col span="1" style="width: 20%;">
												<col span="1" style="width: 7%;">
												<col span="1" style="width: 9%;">
											</colgroup>
											<thead>
												<tr>
													<th>ID</th>
													<th>項目</th>
													<th>使用者</th>
													<th>評論日期</th>
													<th>評分</th>
													<th>評論內容</th>
													<th>照片</th>
													<th>狀態</th>
													<th>修改</th>
												</tr>
											</thead>
											<tbody id="tbody">
												<tr th:each="comment:${comments}" class="odd gradeX">
													<td th:text="${comment.id}" class="font-weight-bold"></td>
													<td>
														<button th:text="${comment.itemTb + '#' +comment.itemId}" data-toggle="modal" data-target="#exampleModal"
															    class="btn btn-link font-weight-bold js-show-modal-item px-0" style="color:#d15f08"></button>
														<i class='ti-info-alt'></i>
													</td>
													<td th:text="${comment.userId}"></td>
													<td th:text="${#dates.format(comment.date, 'yyyy/MM/dd HH:mm:ss')}"></td>
													<td>
														<span class="text-warning">★</span>
														<span th:text="${comment.rating}"></span>
													</td>
													<td th:text="${comment.content}"></td>
													<td>
														<div th:each="image:${comment.images}" class="d-inline-block">
															<img th:src="@{${image.imagePath}}" class="rounded img-com" />
														</div>
													</td>
													<td class="font-weight-medium">
														<div class="badge badge-warning" th:text="${comment.status}"></div>
													</td>
													<td>
														<form th:action="@{/backend/comments/form/}+${comment.id}"	method="get" class="d-inline">
															<button type="submit" class="px-2 btn btn-light btn-sm">
																<i class="ti-pencil"></i>
																
															</button>
														</form>
														<form th:action="@{/backend/comments/}+${comment.id}" th:method="delete" class="inline">
															<button type="button" th:value="${comment.id}"
																class="px-2 btn btn-delete btn-light btn-sm">
																<i class="ti-trash"></i>
																<!-- th:id="'btn-delete' + ${comment.id}" -->
																
															</button>
														</form>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Modal -->
				<div id="itemModal"></div>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				  	<div class="row">
				  		<div class="col-10">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">商品快照</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						        <button type="button" class="btn btn-primary">Save changes</button>
						      </div>
						    </div>
				  		
				  		
				  		</div>
				  	</div>
				  </div>
				</div>
				
				
				<footer th:replace="backend/partials/fragment :: footer"></footer>
				<!-- partial -->
			</div>
		</div>
	</div>

	<script th:src="@{/vendors/js/vendor.bundle.base.js}" src="vendors/js/vendor.bundle.base.js"></script>
	<script th:src="@{/vendors/bootstrap/js/bootstrap.min.js}" src="vendors/bootstrap/js/bootstrap.min.js"></script>
	<script th:src="@{/js/off-canvas.js}" src="vendors/js/off-canvas.js"></script>
	<script th:src="@{/js/hoverable-collapse.js}" src="js/hoverable-collapse.js"></script>
	<script th:src="@{/js/template.js}" src="js/template.js"></script>
	<script th:src="@{/js/settings.js}" src="js/settings.js"></script>
	<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}" src="vendors/datatables.net/jquery.dataTables.js"></script>
	<script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}" src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
	<script th:src="@{/js/dataTables.select.min.js}" src="js/dataTables.select.min.js"></script>
	<script th:src="@{/js/dashboard-comment.js}" src="js/dashboard-comment.js"></script>
	<script th:src="@{/vendors/sweetalert/sweetalert2.all.min.js}" src="vendors/sweetalert/sweetalert2.all.min.js"></script>
	<!--   <script th:src="@{/vendors/datatables.net/zh-HANT.json}"></script> -->
	<!--   <script th:src="@{//cdn.jsdelivr.net/npm/sweetalert2@11}" src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
	<script>
//   	var zhTableUrl = /*[[@{/vendors/datatables.net/zh-HANT.json}]]*/;
		$(document).ready(function() {
			$('#comment-table').DataTable({
			})
		});
	  
	  
	  $(".btn-delete").click(function(e){
			e.preventDefault(); // 取消原始動作
			let id = $(this).val();
	 			Swal.fire({
	 				icon: 'warning',
	 				title: '確定刪除?',
	 				text: "確認刪除後將不可復原",
	 				showCancelButton: true,
	 				confirmButtonColor: '#FF8D29',
	 				cancelButtonColor: '#FFCD38',
	 				confirmButtonText: '確認',
	 				cancelButtonText: '取消',
	 				reverseButtons: true
	 			}).then((result) => {
	 				if (result.isConfirmed) {
	 					$(this).parent().submit();
	 				}
	 			})
		})
			
	
		
		
		
	$('.js-show-modal-item').on('click',function(e){
        e.preventDefault();
        
        $('.js-modal-item').addClass('show-modal1');
    });

    $('.js-hide-modal-item').on('click',function(){
        $('.js-modal1-item').removeClass('show-modal1');
    });
	</script>
</body>

</html>