<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GoTrip後台管理</title>
<!-- 通用css樣式 plugins:css -->
<link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}" href="css/vertical-layout-light/style.css">
<link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" href="vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" href="vendors/feather/feather.css">
<link rel="shortcut icon" th:href="@{/images/favicon.png}" />
<!-- 本頁面使用css樣式 Plugin css for this page -->
<link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}" href="vendors/datatables.net-bs4/select.dataTables.min.css">
<style type="text/css">
.img-com {
	object-fit: cover;
	width: 70px;
	height: 70px;
}
</style>
</head>

<body>
	<div class="container-scroller">

		<nav th:replace="backend/partials/fragment :: navbar"></nav>

		<div class="container-fluid page-body-wrapper">
			<div th:replace="backend/partials/fragment :: setting"></div>
			<nav th:replace="backend/partials/fragment :: sidebar"></nav>
			<!-- 主要內容 partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="d-flex justify-content-between align-baseline">
										<div class="card-title">評論列表</div>
										<a class="text-right btn btn-primary my-2" th:href="@{/backend/comments/form}">新增評論</a>
									</div>
									<div class="table-responsive">
										<table id="comment-table" class="display expandable-table w-100">
											<colgroup>
												<col span="1" style="width: 5%;" class="font-weight-bold">
												<col span="1" style="width: 8%;" class="font-weight-bold">
												<col span="1" style="width: 6%;">
												<col span="1" style="width: 8%;">
												<col span="1" style="width: 10%;">
												<col span="1" style="width: 5%;">
												<col span="1" style="width: 22%;">
												<col span="1" style="width: 22%;">
												<col span="1" style="width: 7%;">
												<col span="1" style="width: 7%;">
											</colgroup>
											<thead>
												<tr>
													<th>ID</th>
													<th>項目</th>
													<th>編號</th>
													<th>使用者</th>
													<th>評論日期</th>
													<th>評分</th>
													<th>評論內容</th>
													<th>照片</th>
													<th>狀態</th>
													<th>修改</th>
												</tr>
											</thead>
											<tbody id="tbody">
												<tr th:each="comment:${comments}" class="odd gradeX">
													<td th:text="${comment.id}" class="font-weight-bold"></td>
													<td th:text="${comment.itemTb}" class="font-weight-bold"></td>
													<td th:text="${comment.itemId}" class="font-weight-bold"></td>
													<td th:text="${comment.userId}"></td>
													<td th:text="${comment.date}"></td>
													<td>
														<span class="text-warning">★</span>
														<span th:text="${comment.rating}"></span>
													</td>
													<td th:text="${comment.content}"></td>
													<td>
														<div th:each="image:${comment.images}" class="d-inline-block">
															<img th:src="@{${image}}" class="rounded img-com" />
														</div>
													</td>
													<td class="font-weight-medium">
														<div class="badge badge-warning" th:text="${comment.status}"></div>
													</td>
													<td>
														<form th:action="@{/backend/comments/form/}+${comment.id}"	method="get" class="inline-block">
															<button type="submit" class="px-2  btn btn-warning btn-rounded btn-sm">
																<!-- <i class="ti-pencil"></i> -->
																修改
															</button>
														</form>
														<form th:action="@{/backend/comments/}+${comment.id}"
															th:method="delete" class="inline-block">
															<button type="button" th:value="${comment.id}"
																class="px-2 btn btn-delete btn-info btn-rounded btn-sm">
																<!-- <i class="ti-trash"></i> -->
																<!-- th:id="'btn-delete' + ${comment.id}" -->
																刪除
															</button>
														</form>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="backend/partials/fragment :: footer"></footer>
				<!-- partial -->
			</div>
		</div>
	</div>

	<script th:src="@{/vendors/js/vendor.bundle.base.js}" src="vendors/js/vendor.bundle.base.js"></script>
	<script th:src="@{/js/off-canvas.js}" src="vendors/js/off-canvas.js"></script>
	<script th:src="@{/js/hoverable-collapse.js}" src="js/hoverable-collapse.js"></script>
	<script th:src="@{/js/template.js}" src="js/template.js"></script>
	<script th:src="@{/js/settings.js}" src="js/settings.js"></script>
	<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}" src="vendors/datatables.net/jquery.dataTables.js"></script>
	<script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}" src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
	<script th:src="@{/js/dataTables.select.min.js}" src="js/dataTables.select.min.js"></script>
	<script th:src="@{/js/dashboard-comment.js}" src="js/dashboard-comment.js"></script>
	<script th:src="@{/vendors/sweetalert/sweetalert2.all.min.js}" src="vendors/sweetalert/sweetalert2.all.min.js"></script>
	<!--   <script th:src="@{/vendors/datatables.net/zh-HANT.json}"></script> -->
	<!--   <script th:src="@{//cdn.jsdelivr.net/npm/sweetalert2@11}" src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
	<script>
//   	var zhTableUrl = /*[[@{/vendors/datatables.net/zh-HANT.json}]]*/;
		$(document).ready(function() {
			$('#comment-table').DataTable({
			})
		});
	  
	  
	  $(".btn-delete").click(function(e){
			e.preventDefault(); // 取消原始動作
			let id = $(this).val();
	 			Swal.fire({
	 				icon: 'warning',
	 				title: '確定刪除?',
	 				text: "確認刪除後將不可復原",
	 				showCancelButton: true,
	 				confirmButtonColor: '#FF8D29',
	 				cancelButtonColor: '#FFCD38',
	 				confirmButtonText: '確認',
	 				cancelButtonText: '取消',
	 				reverseButtons: true
	 			}).then((result) => {
	 				if (result.isConfirmed) {
	 					$(this).parent().submit();
	 				}
	 			})
			})
	</script>
</body>

</html>