<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://demeter.5fpro.com/tw/zipcode-selector.js"></script>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GoTrip 後臺系統</title>
  <!-- 本頁面使用css樣式 Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}" href="vendors/datatables.net-bs4/select.dataTables.min.css">
  <!-- 通用css樣式 plugins:css -->
  <link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}" href="css/vertical-layout-light/style.css" >
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}" href="vendors/feather/feather.css" >
  <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
  
    <nav th:replace="backend/partials/fragment :: navbar"></nav>
    
    <div class="container-fluid page-body-wrapper">
    
	  <div th:replace="backend/partials/fragment :: setting"></div>
      <nav th:replace="backend/partials/fragment :: sidebar"></nav>
      
      <!-- 主要內容 partial -->
     <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">修改會員資料</h4>
                  <form class="form-sample" th:action="@{/user/SaveUser}" action="<'/SaveUser'/>" method="post" id="form">
                    <input type="hidden" name="user_id" th:value="${User.user_id}">
                    <p class="card-description mt-5">
                      個人資料
                    </p>
                    <div class="row mt-4">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="ch_name">中文姓名</label>
                          <div class="col-sm-9">
                            <input id="ch_name" type="text" class="form-control" name="ch_name" th:value="${User.ch_name}"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="en_name">英文姓名</label>
                          <div class="col-sm-9">
                            <input id="en_name" type="text" class="form-control" name="en_name" th:value="${User.en_name}"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="email">Email</label>
                          <div class="col-sm-9">
                            <input id="email" type="email" class="form-control" placeholder="請輸入正確的Email收確認信使用" name="username" required="required" th:value="${User.username}" readonly/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="phone">手機</label>
                          <div class="col-sm-9">
                            <input id="phone" type="text" class="form-control" placeholder="請輸入手機號碼10位數字" name="phone" maxlength="10" th:value="${User.phone}">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="password">密碼</label>
                          <div class="col-sm-9">
                            <input id="pwd1" name="password" type="password" class="form-control" placeholder="請輸入8-20位英數混合密碼" required="required" th:value="${User.password}"/>
                            <span><img th:src="@{/images/demo/hidePwd.png}" class="col-2" id="eyes"  style="position:absolute ; right:20px ; top:18% ; width:12%"></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="passwd">確認密碼</label>
                          <div class="col-sm-9">
<!--                           <div class="row"> -->
                            <input id="pwd2" name="passwd" type="password" class="form-control" placeholder="請輸入再次輸入密碼" required="required" onkeyup="validate()" th:value="${User.password}">
                            <span id="checkMsg" style="position:absolute ; right:17px;"></span>
<!--                            </div>  -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">性別</label>
                          <div class="col-sm-4">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" id="gender" value="男" th:field="${User.gender}">
                                男
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" id="gender" value="女" th:field="${User.gender}">
                                女
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="birthday">生日</label>
                          <div class="col-sm-9">
                            <input id="birthday" type="date" class="form-control" name="birthday" th:value="${User.birthday}"/>
                          </div>
                        </div>
                      </div>
                    </div>
                
                    <p class="card-description mt-4">
                      聯絡地址
                    </p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">縣市</label>
                          <div class="col-sm-9">
                          <input type="hidden" class="js-demeter-tw-zipcode-selector" data-city="#city" data-dist="#location" placeholder="郵遞區號" 
									size="6" id="yoyo" name="yoyo" readonly/> 
                            <select id="city" name="city" placeholder="請選擇縣市" onchange="addressChange()" class="form-control"></select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">鄉鎮市區</label>
                          <div class="col-sm-9">
                            <select id="location" name="location" placeholder="請選擇鄉鎮區" onchange="addressChange()" class="form-control"></select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-1 col-form-label mr-5">地址</label>
                          <div class="col-sm-10" style="width: 110%;">
                            <input type="text" name="address" id="address" class="form-control" th:value="${User.address}"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-sm-inline-block" style="float:left">
	                	<input type="submit" value="確認修改" class="btn btn-warning rounded-pill my-5" style="width:150px">
					 	<label><a th:href="@{/user/list}" class="btn btn-light justify-content-end" style="width:160px">取消</a></label>
					</div>
                  </form>
                </div>
              </div>
            </div>
	</div>
	</div>
	<footer th:replace="backend/partials/fragment :: footer"></footer>
	</div>

    </div>
  </div>

  <script th:src="@{/vendors/js/vendor.bundle.base.js}" src="vendors/js/vendor.bundle.base.js"></script>
  <script th:src="@{/js/off-canvas.js}" src="vendors/js/off-canvas.js"></script>
  <script th:src="@{/js/hoverable-collapse.js}" src="js/hoverable-collapse.js"></script>
  <script th:src="@{/js/template.js}" src="js/template.js"></script>
  <script th:src="@{/js/settings.js}" src="js/settings.js"></script>
  
  <script th:src="@{/vendors/datatables.net/jquery.dataTables.js}" src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}" src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script th:src="@{/js/dataTables.select.min.js}" src="js/dataTables.select.min.js"></script>
  <script th:src="@{/js/dashboard-comment.js}" src="js/dashboard-comment.js"></script>
 
	<!-- 顯示密碼 -->
	<script>
	function myFunction() {
		  // Get the checkbox
		  var checkBox = document.getElementById("myCheck");

		  // If the checkbox is checked, translate type 'password' to 'text'
		  if (checkBox.checked == true){
			  $("#password").prop("type", 'text');
		  } else {
			  $("#password").prop("type", 'password');
		  }
		}
	</script>
	
	<script th:inline="javascript">
      //獲取元素（兩種方式都可以）
    var input1 = document.getElementById("pwd1");
    var input2 = document.getElementById("pwd2");
    var imgs = document.getElementById('eyes');
    //下面是一個判斷每次點選的效果
    var flag = 0;
    imgs.onclick = function () {
      if (flag == 0) {
        input1.type = 'text';
        input2.type = 'text';
        eyes.src =/*[[@{/images/demo/showPwd.png}]]*/ 
        flag = 1;
      } else {
        input1.type = 'password';
        input2.type = 'password';
        eyes.src=/*[[@{/images/demo/hidePwd.png}]]*/
        flag = 0;
      }
    }

  </script>
	
	<!-- 立即顯示縣市鄉鎮 -->
	<script type="text/javascript">
	function addressChange() {
        var city = document.getElementById('city').value;
        var location = document.getElementById('location').value;
        document.getElementById('address').value = city + location;
    }
	</script>
	
	<!-- 檢查密碼是否含有空格 -->
	<script type="text/javascript">
 	 function chk(){
     var password=document.getElementById("password").value; 
	 if (password.indexOf(" ")>=0) {
	    alert("密碼不可含有空格！");
	    return false;
	 }
  	}
	</script>
	
	<!-- 檢查兩次密碼輸入是否相同 -->
	<script>
          function validate() {
              var pwd1 = document.getElementById("pwd1").value;
              var pwd2 = document.getElementById("pwd2").value;
             if(pwd1 == pwd2) {
               document.getElementById("checkMsg").innerHTML="<font color='green'>OK</font>";
               document.getElementById("submit").disabled = false;
              }
              else {
               document.getElementById("checkMsg").innerHTML="<font color='red'>兩次密碼不同</font>";
                document.getElementById("submit").disabled = true;
              }
          }
      </script>
</body>

</html>