<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GoTrip</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"
          integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
          crossorigin="anonymous"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}"
          href="vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"
          href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"
          href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}"
          href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/animate/animate.css}" href="vendors/animate/animate.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css-hamburgers/hamburgers.min.css}"
          href="vendors/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/animsition/css/animsition.min.css}"
          href="vendors/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/select2/select2.min.css}"
          href="vendors/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/daterangepicker/daterangepicker.css}"
          href="vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/slick/slick.css}" href="vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/MagnificPopup/magnific-popup.css}"
          href="vendors/MagnificPopup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}"
          href="vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" href="css/util.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="css/main.css">
    <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}"
          href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}"
          href="vendors/datatables.net-bs4/select.dataTables.min.css">
    <link th:href='@{https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css}' rel='stylesheet'/>
    <link rel="stylesheet" th:href="@{/css/stars.css}" href="../../css/stars.css">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
</head>

<body class="">
	<!-- Header -->
  <header th:replace="frontend/partials/fragment :: header"></header>
	<!-- Cart 購物車 -->
	<div th:replace="frontend/partials/fragment :: cart"></div>
	<section class="bg-img1 txt-center p-lr-15 p-tb-92"	th:style="'background-image: url(' + @{/images/bg-02.jpg} + ');'">
		<h2 class="ltext-103 font-weight-bold clwhite txt-center">租車自駕</h2>
	</section>
	<!-- Product 內文 -->
	<div class="bg0 m-t-60 m-b-140">
		<div class="container">
			
			<div class="flex-w flex-sb-m m-b-40">
				<h2 class="ltext-103 cl5 font-weight-bold p-b-15">地圖找車</h2>
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						所有租車選項
					</button>
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".compact-car">
						經濟轎車
					</button>
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".mid-size-car">
						豪華轎車
					</button>
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".suv">
						休旅車/SUV
					</button>
				</div>

				<div class="flex-w flex-c-m m-tb-5">
					<a class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 m-tb-4" th:href="@{/cars}">
						以車款查詢
					</a>
				</div>

				<!-- Filter -->
				<div th:replace="frontend/partials/fragment :: filter"></div>

			</div>
			
			<div id="map" style="width:100%; height: 500px;" class="mb-5"></div>

			<div class="row isotope-grid">
				<div class="col-sm-3">
					<div class="card">
						<div class="card-body select-county"></div>
					</div>
				</div>
				<!-- Block2 -->
				<div class="col-sm-9">
					<div th:each="location:${carLocations}" th:id="${location.id}" class="m-b-30  isotope-item">
						<div class="card d-block">
							<div class="row">
								<div class="col-sm-5">
									<div class="pos-relative hov-img0 card-img-left pr-0">
										<img th:src="@{${location.image}}" style="height: 210px; object-fit: cover" alt="IMG-CAR">
									</div>
								</div>
								<div class="col-sm-7 card-body block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1">
										<div>
											<span class="m-t-4" th:text="${location.county}"></span>
											<i class="fa fa-angle-right" aria-hidden="true"></i>
											<span class="" th:text="${location.district}"></span>
										</div>
										<p th:text="${location.companyName}" class="pr-3 m-tb-8 clblack js-name-b2"></p>
										<p th:text="${location.name}" class="pr-3 m-tb-8 fs-24 clblack font-weight-bold trans-04 js-name-b2"></p>
										<i class="fa fa-map-marker cl3" aria-hidden="true"></i>
										<span th:text="${location.county + location.district + location.address}"></span>
<!-- 										<div class="rating-count" th:id="${car.id}" value="carRental"> -->
<!-- 											尚無評論 -->
<!-- 										</div> -->
<!-- 										${#aggregates.sum(product.paidService.![price])} -->
										<div class="flex-r">
											<button class="btn btn-warning text-right" type="button" data-toggle="collapse" th:data-target="'#collapseExample'+${location.id}" aria-expanded="false" aria-controls="collapseExample">
												<i class="fa fa-angle-down" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="collapse p-lr-20" th:id="'collapseExample'+${location.id}">
								<div th:each="option:${location.carOptions}" >
									<div class="bor18">
										<div class="row">
											<div class="col-sm-4">
												<div class="px-3 pos-relative hov-img0 card-img-left ">
													<img th:src="@{${option.carModel.image}}" class="mt-3" alt="IMG-CAR">
												</div>
											</div>
											<div class="col-sm-8 card-body block2-txt flex-w flex-t p-t-14 ">
												<div class="block2-txt-child1 mb-1">
													<p class="m-t-15" th:text="${option.carModel.type}"></p>
													<a th:href="@{'/cars/'+${option.carModel.id}}" class="fs-20 clblack font-weight-bold hov-cl1 trans-04 js-name-b2 p-b-15">
														<p th:text="${option.carModel.makeCh + ' ' + option.carModel.makeEn + ' ' + option.carModel.model}" class="pr-3"></p>
													</a>
													<div class="rating-count" th:id="${option.id}" value="carRental">
														尚無評論
													</div>
													<i class="zmdi zmdi-flash"></i> <span th:text="${option.carModel.power}" class="p-r-15"></span>
													<i class="zmdi zmdi-wb-auto"></i> 變速 <span th:text="${option.carModel.transmission}" class="p-r-15"></span>
													<i class="zmdi zmdi-airline-seat-recline-extra"></i> 座位 <span th:text="${option.carModel.seat}" class="p-r-15"></span>
													<i class="zmdi zmdi-car"></i> 排氣量 <span th:text="${option.carModel.engine}+'cc'" class="p-r-5"></span> 
													<div class="p-t-6 text-right">
														<del><span class="cl3" th:if="${option.price != option.priceSale}" th:text="'TWD $' + ${option.price}"></span></del>
														<span class="clblack mtext-109" th:text="'TWD $' + ${option.priceSale}"></span>
														<a th:href="@{/cars/options/{id}(id=${option.id})}" class="ml-3 btn btn-warning">選擇車款</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<!-- Footer -->
	<footer th:replace="frontend/partials/fragment :: footer"></footer>
	<!-- Back to top -->
	<div th:replace="frontend/partials/fragment :: toTop"></div>
	<!-- javascript -->
	<div th:replace="frontend/partials/fragment :: script"></div>
	
	<script th:src="@{https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js}"></script>
	<script th:src="@{https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js}"></script>
	
	<script th:src="@{https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js}"></script>
	<script th:src="@{/js/clusterMap.js}" src="js/clusterMap.js"></script>
	<script th:src="@{/js/car.js}" src="js/car.js"></script>


</body>

</html>