<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <main>
        <h1>加入會員</h1>
        <form id="registerForm" method="POST" th:action="@{/register}" th:Object="${userAccountVO}" enctype="multipart/form-data" autocomplete="off">
            <section class="form-input">
                <label>姓名</label>
                <div class="input-area">
                    <div class="input-img"><img th:src="@{/images/userAccount/face.png}"></div>
                    <input type="text" th:field="*{ch_name}" placeholder="請輸入您的中文姓名"/>
                </div>
            </section>
            <section class="form-input">
                <label>帳號/Email</label>
                <div class="input-area">
                    <div class="input-img"><img th:src="@{/images/userAccount/person.png}"></div>
                    <input type="text" th:field="*{email}" placeholder="請輸入您的Email"/>
                </div>
            </section>
            <section class="form-input">
                <label>密碼</label>
                <div class="input-area">
                    <div class="input-img"><img th:src="@{/images/userAccount/lock.png}"></div>
                    <input type="password" th:field="*{password}" maxlength="16" placeholder="請輸入您的密碼"/>
                </div>
            </section>
<!--             <section class="form-input"> -->
<!--                 <label>再次輸入密碼</label> -->
<!--                 <div class="input-area"> -->
<!--                     <div class="input-img"><img th:src="@{/images/userAccount/lock.png}"></div> -->
<!--                     <input type="password" th:field="*{checkPassword}" maxlength="16" placeholder="請再次輸入您的密碼"/> -->
<!--                 </div> -->
<!--             </section> -->
            <button>註冊</button>
            <span>已經是會員了嗎?<a th:href="@{/login}">立即登入</a></span>
        </form>
    </main>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
<!--   <script src="/lib/jquery.min.js"></script> -->
<!--   <script src="/lib/jquery.plugin.js"></script> -->
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  
  <script th:src="@{/js/jquery-3.6.0.js}"></script>
  <script th:src="@{/js/off-canvas.js}"></script>
  <script th:src="@{/js/hoverable-collapse.js}"></script>
  <script th:src="@{/js/template.js}"></script>
  <script th:src="@{/js/settings.js}"></script>
  <script th:src="@{/js/todolist.js}"></script>
  <script th:src="@{/js/loginJS/lib/jquery-3.4.1.js}"></script>
  <script th:src="@{/js/loginJS/common.js}"></script>
  <script th:src="@{/js/loginJS/validation.js}"></script>
  <script th:src="@{/js/loginJS/register.js}"></script>
  <!-- endinject -->
</body>




<!-- <head> -->
<!--     <meta charset="UTF-8"> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--     <title>加入會員</title> -->
<!--     <head th:insert="load/css :: css"></head> -->
<!--     <link rel="stylesheet" th:href="@{/css/register.css}"> -->
<!-- </head> -->
<!-- <body> -->
<!--     <main> -->
<!--         <h1>加入會員</h1> -->
<!--         <form id="registerForm" method="POST" th:action="@{/register}" th:Object="${userAccountVO}" enctype="multipart/form-data" autocomplete="off"> -->
<!--             <section class="form-input"> -->
<!--                 <label>姓名</label> -->
<!--                 <div class="input-area"> -->
<!--                     <div class="input-img"><img th:src="@{/images/userAccount/face.png}"></div> -->
<!--                     <input type="text" th:field="*{ch_name}" placeholder="請輸入您的中文姓名"/> -->
<!--                 </div> -->
<!--             </section> -->
<!--             <section class="form-input"> -->
<!--                 <label>帳號/Email</label> -->
<!--                 <div class="input-area"> -->
<!--                     <div class="input-img"><img th:src="@{/images/userAccount/person.png}"></div> -->
<!--                     <input type="text" th:field="*{email}" placeholder="請輸入您的Email"/> -->
<!--                 </div> -->
<!--             </section> -->
<!--             <section class="form-input"> -->
<!--                 <label>密碼</label> -->
<!--                 <div class="input-area"> -->
<!--                     <div class="input-img"><img th:src="@{/images/userAccount/lock.png}"></div> -->
<!--                     <input type="password" th:field="*{password}" maxlength="16" placeholder="請輸入您的密碼"/> -->
<!--                 </div> -->
<!--             </section> -->
<!--             <section class="form-input"> -->
<!--                 <label>再次輸入密碼</label> -->
<!--                 <div class="input-area"> -->
<!--                     <div class="input-img"><img th:src="@{/images/userAccount/lock.png}"></div> -->
<!--                     <input type="password" th:field="*{checkPassword}" maxlength="16" placeholder="請再次輸入您的密碼"/> -->
<!--                 </div> -->
<!--             </section> -->
<!--             <button>註冊</button> -->
<!--             <span>已經是會員了嗎?<a th:href="@{/login}">立即登入</a></span> -->
<!--         </form> -->
<!--     </main> -->
    
<!--     <script th:replace="load/js :: js"></script> -->
<!--     <script th:src="@{/js/register.js}"></script> -->
<!-- </body> -->

</html>
