<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .btn1 {
        background: mediumpurple;
        width: 150px;
        color: white;
        border-radius: 5px;
        font-size: 15px;
        text-align: center;
    }
</style>
<head th:replace="frontend/partials/fragment :: head"></head>

<body class="">
<!-- Header -->
<header th:replace="frontend/partials/fragment :: header"></header>
<!-- Cart 購物車 -->
<div th:replace="frontend/partials/fragment :: cart"></div>

<section class="bg-img1 txt-center p-lr-15 p-tb-92"
         th:style="'background-image: url(' + @{/images/bg-01.jpg} + ');'">
    <h2 class="ltext-103 font-weight-bold clwhite txt-center">門票管理</h2>
</section>
<!-- Product 內文 -->
<div class="bg0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 p-b-80 bg6">
                <div class="side-menu">
                    <div class="p-t-55">
                        <h2 class="ltext-103 cl5 font-weight-bold m-b-30 p-lr-20">門票管理</h2>
                        <ul class="p-lr-20">
                            <li class="bor18">
                                <a th:href="@{#}" class="dis-block mtext-110 cl5 hov-cl1 trans-04 p-tb-12 ">
                                    檢視訂單
                                </a>
                            </li>
                            <li class="bor18">
                                <a th:href="@{/vendor/ticket/1}"
                                   class="dis-block mtext-110 cl5 hov-cl1 trans-04 p-tb-12 ">
                                    門票列表
                                </a>
                            </li>
                            <li class="bor18">
                                <a th:href="@{/vendor/ticket/addTicket}"
                                   class="dis-block mtext-110 cl5 hov-cl1 trans-04 p-tb-12 ">
                                    新增門票
                                </a>
                            </li>
                            <!-- <li class="bor18">
                                <a th:href="@{/vendor/cars/options/form}"
                                   class="dis-block mtext-110 cl5 hov-cl1 trans-04 p-tb-12 ">
                                    新增房間
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Block2 -->
            <div class="col-md-9 grid-margin my-5 pl-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title font-weight-bold">新增門票</h4>
                        <form id="insert-loc-form" name="form" th:action="@{/vendor/ticket}" method="post" th:object="${ticket}"
                        class="form-horizontal needs-validation">
                        <!-- enctype="multipart/form-data" -->

                        <!-- <p class="card-description mt-4">景點資料</p> -->
<!--                         <input th:field="*{ticketNo}" id="ticketNo" name="ticketNoId" type="hidden"/> -->
<!--                         <input th:field="*{companyId}" id="companyId" type="hidden" value="1"/> -->
                        <!-- <input th:field="*{companyName}" id="companyName" type="hidden"/> -->
                        <div class="row form-group my-4">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-2 col-form-label" for="ticketName">景點名稱</label>
                            <div class="col-lg-7">
                                <input th:field="*{ticketName}" id="nameId" type="text" class="form-control" placeholder="請輸入景點名稱"/>
                                <div class="invalid-feedback">請輸入景點名稱</div>
                            </div>
                        </div>

                        <!-- 行政區、縣市區 -->
                        <div class="row form-group my-4">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-2 col-form-label" for="county">縣市行政區</label>
                            <div class="col-lg-7">
                                <div class="city-selector-set row" >
                                    <div class="col-4 pr-0">
                                        <p id="countryId" th:text="*{country}" hidden="true"></p>
                                        <select class="form-control county bgwhite" style="background-color: white" th:field="*{country}">
                                            <option value="台灣">台灣</option>
                                        </select>
                                    </div>
                                    <div class="col-4 pr-0">
                                        <select id="city" name="city" placeholder=" "class="form-control district bgwhite" style="background-color: white" th:field="*{city}" data-city="#city"></select>
                                        <div class="invalid-feedback">請選擇縣市</div>
                                    </div>
                                    <div class="col-4">
                                        <select id="dist" name="location"  placeholder=" " class="form-control district bgwhite" style="background-color: white" th:field="*{location}" data-dist="#dist"></select>
                                        <div class="invalid-feedback">請選擇行政區</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 地址 -->
                        <div class="row form-group my-4">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-2 col-form-label" for="address">地址</label>
                            <div class="col-lg-7">
                                <input th:field="*{address}" id="addressId" type="text" class="form-control" placeholder="地址不須重複輸入縣市及行政區"/>
                                <div class="invalid-feedback">請輸入地址</div>
                            </div>
                        </div>
                        <!-- 電話 -->
                        <div class="row form-group my-4">
                          <div class="col-lg-1"></div>
                          <label class="col-lg-2 col-form-label" for="phone">連絡電話</label>
                          <div class="col-lg-7">
                              <input th:field="*{phone}" id="phoneId" type="text" class="form-control" placeholder="0212345678"/>
                              <div class="invalid-feedback">請輸入正確的電話格式</div>
                          </div>
                        </div>
                        <!-- 價格 -->
                        <div class="row form-group my-4">
                          <div class="col-lg-1"></div>
                          <!-- <input th:field="*{ticketNo}" id="ticketNo" type="hidden" class="form-control" placeholder="" /> -->
                          <label class="col-lg-2 col-form-label" for="price">門票價格</label>
                        <div class="col-lg-7">
                            <input th:field="*{price}" id="priceId" type="text" class="form-control"/>
                            <div class="invalid-feedback">請輸入價格</div>
                        </div>
                        </div>

                        <!-- 標籤 -->
                        <div class="row form-group my-4">
                        <div class="col-lg-1"></div>
                        <label class="col-lg-2 col-form-label" for="tagNo">標籤</label>
                        <div class="col-lg-7">
                            <div class="city-selector-set row" >
                                <div class="col-4 pr-0">
                                    <p id="tagNoId" th:text="*{tagNo}" hidden="true"></p>
                                    <select class="form-control county bgwhite" style="background-color: white" th:field="*{tagNo}" id="sel">
                                        <option value="0">請選擇</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="col-4 pr-0">
                                    <p id="tagName" th:text="*{tagName}" hidden="true"></p>
                                    <select class="form-control district bgwhite" style="background-color: white" th:field="*{tagName}" data-city="#city" id="sel2" readonly>
                                    </select>
                                </div>
                                <!-- 圖片 -->
                                <!-- <div class="col-4 pr-0">
                                    <input type="file" class="form-control custom-file-input py-2 bgwhite" style="background-color: white; padding-bottom: 3px" name="imagefiles" id="imagefiles" multiple/>
                                   <div class="row" id="imagefiles">
                                       <div class="col-12">
                                           <img class="img-responsive my-4" alt="image" width="100%" height="auto" th:src="@{*{images}}" />
                                       </div>
                                   </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- 圖片 -->
                        <!-- <div class="row form-group my-4">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-2 col-form-label" for="images">景點照片</label>
                            <div class="col-lg-7">
                                <div class="col-4 pr-0">
                                 <input type="file" class="form-control custom-file-input py-2 bgwhite" style="background-color: white; padding-bottom: 3px" name="imagefiles" id="imagefiles" multiple/>
                                <div class="row" id="imagefiles">
                                    <div class="col-12">
                                        <img class="img-responsive my-4" alt="image" width="100%" height="auto" th:src="@{*{images}}" />
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="row form-group my-4">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-2 col-form-label" for="images">景點照片</label>
                            <div class="col-lg-7">
                                <input type="file" class="form-control custom-file-input py-2 bgwhite" style="background-color: white; padding-bottom: 3px" name="imagefiles" id="imagefiles" multiple/>
                                <div class="row" id="imagefiles">
                                    <div class="col-12">
                                        <img class="img-responsive my-4" alt="image" width="100%" height="auto" th:src="@{*{images}}" />
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        <!-- 簡介 -->
                       <div class="row form-group my-4">
                           <div class="col-lg-1"></div>
                           <label class="col-lg-2 col-form-label" for="descriptionId">景點商品說明</label>
                           <div class="col-lg-7">
                               <textarea name="ticketIntro" th:field="*{ticketIntro}" id="descriptionId" ></textarea>
                           </div>
                       </div>
                        <!-- <input th:field="*{images}" type="hidden" class="form-control" /> -->
                        <!-- <input th:field="*{longitude}" id="longitude" type="hidden" class="form-control" /> -->
                        <!-- <input th:field="*{latitude}" id="latitude" type="hidden" class="form-control" /> -->

                   
                        <div class="d-flex justify-content-end mr-5 my-5">
                            <button id="btn-insert-wrong-loc" type="button" class="btn btn-light mr-2 justify-content-end mr-4">
                                錯誤輸入
                            </button>
                            <button id="correctInput" type="button" class="btn btn-light mr-2 justify-content-end mr-4">
                                正確輸入
                            </button>
                            <button id="btn-insert-loc" type="submit" class="btn btn-warning justify-content-end">
                                儲存資料
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="frontend/partials/fragment :: footer"></footer>
<!-- Back to top -->
<div th:replace="frontend/partials/fragment :: toTop"></div>

<!-- javascript -->
<div th:replace="frontend/partials/fragment :: script"></div>

<script th:src="@{/vendors/sweetalert/sweetalert2.all.min.js}" src="vendors/sweetalert/sweetalert2.all.min.js"></script>
<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}"
        src="vendors/datatables.net/jquery.dataTables.js"></script>
<script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"
        src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script th:src="@{/js/dataTables.select.min.js}" src="js/dataTables.select.min.js"></script>

<!-- sweet alert -->
<script th:src="@{/js/ticketTableJS/sweetalert2.js}" src="../../static/js/ticketTableJS/sweetalert2.js"></script>

<!-- ckeditor -->
<script src="//cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
<!-- <script src="//cdn.ckeditor.com/4.19.0/full/ckeditor.js"></script> -->

<!-- 城市及地區判斷 -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type='text/javascript' src="https://demeter.5fpro.com/tw/zipcode-selector.js"></script>
<script type='text/javascript' class="js-demeter-tw-zipcode-selector" data-city="#city" data-dist="#dist" />
</script>
<script type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../static/js/ticketTableJS/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#data-table').DataTable({})
    });

    // 		$('#data-table tbody').on('click', function () {
    //          var tr = $(this).closest('tr');
    //          var row = table.row(tr);
    //          if (row.child.isShown()) {
    //              // This row is already open - close it
    //              row.child.hide();
    //              tr.removeClass('shown');
    //          }
    //          else {
    //              // Open this row
    //              row.child(format(row.data())).show();
    //              tr.addClass('shown');
    //          }
    //      })

// 刪除
    $(".btn-delete").click(function (e) {
        e.preventDefault(); // 取消原始動作
        let id = $(this).val();
        Swal.fire({
            icon: 'warning',
            title: '確定刪除?',
            text: "確認刪除後將不可復原",
            showCancelButton: true,
            confirmButtonColor: '#FF8D29',
            cancelButtonColor: '#FFCD38',
            confirmButtonText: '確認',
            cancelButtonText: '取消',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $(this).parent().submit();
            }
        })
    })

</script>

<!-- 判斷城市資料後再自動代入地區 -->
<script th:inline="javascript">
	window.addEventListener('load', function () {
		console.log("load complete");
		setTimeout(function () {
			console.log("I am the third log after 2 seconds");
			
			var city = /*[[${ticket.city}]]*/ 'default';
		//console.log(document.getElementById("city").value = "<th:value='{ticket.city}'/>");
			console.log(city); 
			document.getElementById("city").value = city;
			// document.getElementById("city").value = "<th:value='*{city}'/>";
			document.getElementById("city").dispatchEvent(new Event('change'));
			setTimeout(function () {
				var location = /*[[${ticket.location}]]*/ 'default';
				// document.getElementById("dist").value = "<th:value='*{location}'/>";
				document.getElementById("dist").value = location;
			}, 500);
		}, 1000);

		document.getElementById("sel").dispatchEvent(new Event('change'));
	})
</script>

<!-- tag -->
<script>
$("#sel").change(function () {
switch (parseInt($(this).val())) {
    case 0:
        $("#sel2 option").remove();
        break;
    case 1:
        $("#sel2 option").remove();
        var array = ["主題樂園"];
        //利用each遍歷array中的值並將每個值新增到Select中
        $.each(array, function (i, val) {
            $("#sel2").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
        });
        break;
    case 2:
        $("#sel2 option").remove();
        var array = ["博物館&美術館"];
        //利用each遍歷array中的值並將每個值新增到Select中
        $.each(array, function (i, val) {
            $("#sel2").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
        });
        break;
    case 3:
        $("#sel2 option").remove();
        var array = ["水族館&動物園"];
        //利用each遍歷array中的值並將每個值新增到Select中
        $.each(array, function (i, val) {
            $("#sel2").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
        });
        break;
    case 4:
        $("#sel2 option").remove();
        var array = ["歷史景點"];
        //利用each遍歷array中的值並將每個值新增到Select中
        $.each(array, function (i, val) {
            $("#sel2").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
        });
        break;
}
});
</script>

<!-- 一鍵輸入 -->
<script>
    $('#correctInput').click(function () {
        //對應ID值，不是NAME值
        $('#nameId').val('阿里山國家森林遊樂區門票')
        $('#descriptionId').val('阿里山山脈為台灣五大山脈之一，阿里山並不是一座山，而是泛指這個山區；自古擁有豐沛的紅檜與扁柏，然從 1912年起成為台灣最具規模的林場，一直到 1960 年代末期為止。歷經日本、國民政府的採伐後，原始檜木林幾乎伐盡，現今存有第一期與第二期巨木群棧道近四十株的紅檜巨木，讓人緬懷過去神木林的壯闊神聖。其中最高的「阿里山香林神木」，高 45 公尺，樹圍 12.3 公尺，樹齡約2300年，是到訪阿里山的必遊之處。在阿里山國家森林遊樂區內有豐富的生態，其中最特殊的植物，莫過於稀有的蓧蕨、相馬氏石杉、阿里山十大功勞與一葉蘭了；動物則有台灣獼猴、帝雉、藪鳥、阿里山鴝、阿里山山椒魚等小明星助陣，熱鬧非凡。除了神木，阿里山還有非常多具可看性的景點：森林小火車、空靈飄渺的姊妹潭、壯闊動人的雲海、美麗的祝山日出、受鎮宮、百年慈雲寺、林業史蹟、春天盛開的各類櫻花與杜鵑…阿里山森林遊樂區是一個足以代表台灣霧林帶的國際級觀光景點，歡迎著來自全世界的旅人們，前來認識台灣山林豐富而美麗的面貌。「春賞花、夏避暑、秋攬楓、冬觀雲」詳述了一年四季萬種風情的阿里山國家森林遊樂區。在阿里山您只須放慢腳步，享受舒適宜人的綿延群山，伴蟲鳴入眠、被林間輕脆鳥啼喚醒，不妨現在就背起行李，規劃一趟阿里山輕旅行，讓自己徜徉於神木群的芬多精中，為身心靈安排一趟大自然的洗禮吧。')
        // $('#ticketBriefIntroId').val('阿里山山脈為台灣五大山脈之一，阿里山並不是一座山，而是泛指這個山區；自古擁有豐沛的紅檜與扁柏')
        // $('#picker1').val('8:30 AM')
        // $('#picker2').val('5:30 PM')
        $('#phoneId').val('052679917')
        $('#countryId').val('台灣')
        $('#city').val('嘉義縣')
        $('#dist').val('阿里山鄉')
        $('#addressId').val('59號')
         $('#priceId').val('215')
        //  $('#statusId').val('已上架')
        $('#sel').val('4')
        $('#sel2').val('歷史景點')
        // $('#ticketStartDate').val('2022-07-29')
        // $('#ticketEndDate').val('2022-12-31')
        // $('#note').val('')
        
    })
</script>

<!-- CKEDITOR -->
<script>CKEDITOR.replace('ticketIntro');</script>

</body>

</html>